header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5vh 5vw;
    font-weight: 600;
}

nav ul {
    display: flex;
    gap: 5rem;

    li {
        list-style-type: none;
        padding: 0;

        a {
            text-decoration: none;
            color: white;
            font-size: 1rem;
        }
    }
}

.active-link {
    border-bottom: 2px solid white;
    padding-bottom: 0.25rem;
}

#menu-button {
    display: none;
}

@media (max-width: 1024px) {
    #menu-button {
        display: block;
        background: none;
        border: none;
        color: white;
        font-size: 2rem;
        cursor: pointer;
    }

    nav {
        display: none;
    }

    nav.open {
        display: block;
        position: absolute;
        top: 100px;
        right: 5vw;
        background: black;
        padding: 2rem;
        border-radius: 1rem;
    }

    nav ul {
        flex-direction: column;
        gap: 2rem;
    }
}