<header>
    <img src="/fav-icon/fav-icon.svg" alt="Ikon för restaurangen Pizza Basilico" id="ikon">

    <button id="menu-button" (click)="toggleMenu()">☰</button>

    <nav [class.open]="menuOpen">
        <ul>
            <li routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }"><a routerLink="/">Hem</a></li>
            <li routerLinkActive="active-link"><a routerLink="/boka-bord">Boka bord</a></li>
            <li routerLinkActive="active-link"><a routerLink="/takeaway">Takeaway</a></li>
        </ul>

    </nav>
</header>