// Styling för tack-sidan efter bokat bord
#bord-tack-sektion {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.95) 25%, rgba(0, 0, 0, 0.7) 45%, rgba(0, 0, 0, 0.3) 65%, rgba(0, 0, 0, 0) 100%),
    url(/images/tables.jpg);

    height: 100vh;
    color: white;
    background-repeat: no-repeat;
    background-size: cover;
}

#rubrik-tack {
    font-size: 4rem;
    font-weight: 800;
    margin: 0 0 0 5vw;
    width: 35vw;
}

#paragraf {
    margin: 5vh 5vw 0 5vw;
    font-size: 1.25rem;
}

#tillbaka-knapp {
    margin: 5vh 0 5vh 5vw;
    font-size: 1.15rem;
    border: none;
    padding: 2vh 2vw;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.35);
    border-radius: 3rem;
    font-weight: 700;
    cursor: pointer;
    width: 20ch;
}
#tillbaka-knapp:hover {
    background-color: gray;
}

// Animationer
.fade-up {
    opacity: 0;
    transform: translateY(40px);
    animation: fadeUp 1.5s ease forwards;
}

@keyframes fadeUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.scroll-fade {
    opacity: 0;
    transform: translateY(60px);
    transition:
        opacity 0.8s ease,
        transform 0.8s ease;
}

.scroll-fade.show {
    opacity: 1;
    transform: translateY(0);
}

// Responsiv design
@media (max-width: 1024px) {
    #rubrik-tack {
        font-size: 3rem;
        width: 80%;
        margin: 0 0 0 5vw;
    }

    #paragraf {
        margin: 5vh 0 0 5vw;
    }

    #tillbaka-knapp {
        width: 15ch;
        min-width: 220px;
        margin: 7.5vh 0 0 5vw;
    }
}