<!--Sektion för att beställa takeaway-->
<section id="takeaway-order">
    <app-header></app-header>

    <h2 class="fade-up">Beställ takeaway</h2>

    <!--Formulär för att genomföra en beställning-->
    <form class="fade-up">
        <div class="input">
            <label for="namn">För- och efternamn: </label>
            <input type="text" id="namn" [(ngModel)]="name" name="name">
        </div>

        <div class="input">
            <label for="e-post">E-postadress: </label>
            <input type="text" id="e-post" [(ngModel)]="email" name="email">
        </div>

        <div class="input">
            <label for="nummer">Telefonnummer: </label>
            <input type="text" id="nummer" [(ngModel)]="phone_number" name="phone_number">
        </div>

        <div class="input">
            <label for="time">Tid för avhämtning: </label>
            <select id="time" [(ngModel)]="pickup_time" name="pickup_time">
                <option>17:00</option>
                <option>17:15</option>
                <option>17:30</option>
                <option>17:45</option>
                <option>18:00</option>
                <option>18:15</option>
                <option>18:30</option>
                <option>18:45</option>
                <option>19:00</option>
                <option>19:15</option>
                <option>19:30</option>
                <option>19:45</option>
                <option>20:00</option>
                <option>20:15</option>
                <option>20:30</option>
                <option>20:45</option>
                <option>21:00</option>
            </select>
        </div>
    </form>
</section>

<!--Sektion för att visa meny och varukorg-->
<section id="sektion-order" class="scroll-fade">
    <article id="meny-sektion">
        <div *ngFor="let pizza of pizzas" id="meny-kort">
            <article id="meny-info">
                <h2>{{ pizza.title }}</h2>
                <p>{{ pizza.description }}</p>
                <span>{{ pizza.price }} kr</span>
                <button (click)="addToCart(pizza)" id="add-button">Lägg till</button>
            </article>

            <img [src]="'/images/meny/' + pizza.image" id="meny-img">
        </div>
    </article>

    <!--Varukorg-->
    <article id="varukorg">
        <h3>Din varukorg</h3>

        <div *ngFor="let pizza of cart" id="items-varukorg">
            <p id="linje-varukorg">
                {{ pizza.title }}
                x{{ pizza.quantity }}
            </p>

            <button (click)="decreaseQuantity(pizza)" class="antal-knapp">-</button>
            <button (click)="increaseQuantity(pizza)" class="antal-knapp">+</button>
        </div>

        <p>Totalt: {{ getTotal() }} kr</p>

        <button routerLink="/takeaway/pay" id="pay-knapp" (click)="saveOrderInfo()">Till betalning</button>
    </article>
</section>