<app-header-admin></app-header-admin>

<main>
    <h1>Välkommen till Pizza Basilico administration!</h1>

    <!--Sektion för att hantera bordsbokningar-->
    <section id="booking-system">
        <article id="booking-list" (dragover)="allowDrop($event)" (drop)="returnBooking()">

            <h2>Dagens bokningar</h2>
            <input type="date" [(ngModel)]="selectedDate" (change)="getBookings()" id="select-date"/>

            <!--Kort för dagens bokningar-->
            <div class="booking-card" *ngFor="let booking of bookings" draggable="true" (dragstart)="dragStart(booking)">
                <strong><p>{{ booking.booking_time.slice(0,5) }} - {{ booking.guest_number }} personer</p></strong>
                <p>{{ booking.name }}</p>
                <p>{{ booking.phone_number }}</p>
            </div>
        </article>

        <!--Sektion för de olika borden i restaurangen-->
        <article id="tables-wrapper">
            <div class="table-row">
                <div class="table-card" *ngFor="let table of tables" (dragover)="allowDrop($event)" (drop)="dropBooking(table)" [class.available]="!table.booking" [class.occupied]="table.booking">
                    <p><strong>Bord {{ table.id }}</strong> ({{ table.seats }} platser)</p>

                    <div *ngIf="table.booking as booking" draggable="true" (dragstart)="dragStart(booking, table)">
                        <strong><p>{{ booking.booking_time.slice(0,5) }} - {{ booking.guest_number }} personer</p></strong>
                        <p>{{ booking.name }}</p>
                        <p>{{ booking.phone_number }}</p>
                    </div>

                    <div *ngIf="!table.booking">
                        <p>Ledigt bord</p>
                    </div>
                </div>
            </div>
        </article>
    </section>

    <!--Sektion för takeaway-beställningar-->
    <section id="takeaway-section">
        <h2>Takeaway-beställningar</h2>
        <div class="takeaway-card" *ngFor="let order of takeawayOrders">
            <p class="pickup-time"><strong>Avhämtning:</strong> {{ order.pickup_time.slice(0,5) }}</p>
            <p><strong>Namn:</strong> {{ order.name }}</p>
            <p><strong>Telefon:</strong> {{ order.phone_number }}</p>
            <p><strong>Beställning:</strong> 🍕 {{ order.items }}</p>

            <button (click)="completeOrder(order.order_id)">Färdig</button>
        </div>
    </section>

    <!--Sektion för att hantera och redigera menyn-->
    <section id="menu-admin-section">
        <article id="menu-admin-header" (click)="isMenuOpen = !isMenuOpen">
            <h2>Vår meny</h2>
            <span>{{ isMenuOpen ? '⌃' : '⌄' }}</span>
        </article>

        <!--Sektion för att visa och redigera menyposter-->
        <section id="menu-admin-content" *ngIf="isMenuOpen">
            <div id="menu-grid">
                <div class="menu-item-wrapper" *ngFor="let pizza of menuItems">
                    <article class="menu-card">
                        <div class="menu-info">
                            <h3>{{ pizza.title }}</h3>
                            <p>{{ pizza.description }}</p>
                            <span>{{ pizza.price }} kronor</span>
                        </div>

                        <img [src]="'/images/meny/' + pizza.image" alt="{{ pizza.title }}">
                    </article>

                    <!--Åtgärder för att hantera menyn-->
                    <div class="menu-actions">
                        <button class="edit-button" (click)="editPizza(pizza)">✎</button>
                        <button class="delete-button" (click)="deletePizza(pizza.item_id)">🗑</button>
                    </div>

                    <!--Knapp för att lägga till en ny pizza-->
                    </div>
                        <div class="add-pizza-card" (click)="openAddPizza()">
                            <span>+</span>
                        </div>
                    </div>

            <!--Sektion för att visa och redigera menyn-->
            <section id="menu-form-section" *ngIf="showMenuForm">
                <h3>{{ selectedPizza ? 'Redigera pizza' : 'Lägg till pizza' }}</h3>

                <div class="input-group">
                    <label>Titel:</label>
                    <input type="text" [(ngModel)]="menuForm.title">
                </div>

                <div class="input-group">
                    <label>Beskrivning:</label>
                    <textarea [(ngModel)]="menuForm.description"></textarea>
                </div>

                <div class="input-group">
                    <label>Pris:</label>
                    <input type="number" [(ngModel)]="menuForm.price">
                </div>

                <div class="input-group">
                    <label>Bild:</label>
                    <input type="text" [(ngModel)]="menuForm.image">
                </div>

                <button type="button" (click)="savePizza()">Spara</button>
            </section>
        </section>
    </section>

    <!--Sektion för att hantera information om restaurangen-->
    <section id="about-admin-section">
        <article id="about-admin-header" (click)="isAboutOpen = !isAboutOpen">
            <h2>Om oss & Öppettider</h2>
            <span>{{ isAboutOpen ? '⌃' : '⌄' }}</span>
        </article>

        <!--Innehåll för sektionen om restaurangen-->
        <section id="about-admin-content" *ngIf="isAboutOpen">
            <article class="about-card">
                <h3>Introduktionstext</h3>
                <div class="edit-row">
                    <textarea [(ngModel)]="homepageText"></textarea>
                </div>

                <button (click)="saveHomepage()" class="spara-knapp">Spara</button>
            </article>

            <article class="about-card">
                <h3>Om företaget</h3>
                <div class="edit-row">
                    <textarea [(ngModel)]="aboutText"></textarea>
                </div>

                <button (click)="saveAbout()" class="spara-knapp">Spara</button>
            </article>

            <article class="about-card">
                <h3>Öppettider</h3>
                <div *ngFor="let hour of openingHours">
                    <input type="text" [(ngModel)]="hour.weekday">
                    <input type="time" [(ngModel)]="hour.open_time">
                    <input type="time" [(ngModel)]="hour.close_time">
                </div>

                <button (click)="saveHours()" id="spara-tider-knapp">Spara öppettider</button>
            </article>
        </section>
    </section>
</main>