#boka-bord-sektion {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.95) 25%, rgba(0, 0, 0, 0.7) 45%, rgba(0, 0, 0, 0.3) 65%, rgba(0, 0, 0, 0) 100%),
    url(/images/tables.jpg);

    height: 77.5vh;
    color: white;
    background-repeat: no-repeat;
    background-size: cover;
}

#boka-bord-sektion h2 {
    margin: 0 0 0 5vw;
    font-size: 3rem;
    font-weight: 800;
}

form {
    margin: 5vh 0 10vh 5vw;

    div {
        margin-bottom: 4vh;

        select {
            padding: 0.5vh 0.5vw;
        }
    }
}

#knapp-fortsatt {
    padding: 2vh 2vw;
    border-radius: 3rem;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.35);
    font-weight: 700;
    font-size: 1rem;
    border: none;
    margin: 0 5vw 0 5vw;
    cursor: pointer;
}

#knapp-avbryt {
    padding: 1.5vh 1.5vw;
    border-radius: 1.5rem;
    border: none;
    font-weight: 700;
    cursor: pointer;
}

#knapp-fortsatt:hover, #knapp-avbryt:hover {
    background-color: gray;
}

// Animationer
.fade-up {
    opacity: 0;
    transform: translateY(40px);
    animation: fadeUp 1.5s ease forwards;
}

@keyframes fadeUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.scroll-fade {
    opacity: 0;
    transform: translateY(60px);
    transition:
        opacity 0.8s ease,
        transform 0.8s ease;
}

.scroll-fade.show {
    opacity: 1;
    transform: translateY(0);
}