#login-wrapper {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.95) 25%, rgba(0, 0, 0, 0.7) 45%, rgba(0, 0, 0, 0.3) 65%, rgba(0, 0, 0, 0) 100%),
    url('/images/hero.jpg');

    background-size: cover;
    background-position: center;
    color: white;
    width: 98.8vw;
    height: 100vh;
}